* {
    margin: 0;
    padding: 0;
    color: #474747;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100%;
    position: relative;
    min-width: 450px;
    height: 100%;
    gap: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-10%);
}

.Google_Logo {
    width: 25%;
    max-width: 100%;
    height: auto;

}

.box,
.box_2 {
    width: 60%;
    display: flex;
    align-items: center;
    border: 1px solid #dfe1e5;
    border-radius: 35px;
    padding: 8px 16px;
    background-color: #ffffff;
    gap: 12px;
}

.box_2 {
    padding: 15px 16px;
}


.box:hover,
 .box_2:hover{
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}
.FeelingLucky{
    border: none;
    padding: 1.3% 2%;
    color: white;
    background-color: #336ef3;
    border-radius: 25px;
    cursor: pointer;
}
.FeelingLucky:hover{
    background-color: #1a55db;
}
.FeelingLucky:active{
    background-color: #133ea1;

}

.page2Link {
    position: absolute;
    top: 17%;
    right: 190px;
}

.page3Link{
    position: absolute;
    top: 17%;
    right: 47px;

}

.plusIcon button {
    border: none;
    background-color: transparent;
    color: #70757a;
    cursor: pointer;
    font-size: 20px;
}

.searchBar {
    flex: 1;
}

.searchBar input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent;
}

.searchBar input:action {
    border: none;
    box-shadow: none;
}

.mic img,
.lens img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: block;
}

.AiIcon button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F5F6;
    border-radius: 40%;
    border: none;
    pointer-events: none;
    padding: 6px;
    cursor: pointer;
}

.images {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    align-items: flex-end;
    width: fit-content;
}

.images span {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #3186ff;

}

.images img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.button {
    padding: 10px;
    border: none;
    color: black;
    background-color: #f8f9fa;
    font-size: 13px;
    font-family: sans-serif;
    border-radius: 5px;
    cursor: pointer;
}

.AdvacedSearch {
    height: 100%;
    width: 100%;
    position: relative;


}

.threePage {
    position: absolute;
    right: 40px;

}

.topSide {
    display: flex;
    width: 100%;
    height: 15%;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
    border-bottom: 0.1px solid #d2d2d2;
    padding-inline: 8%;

}

.topSide img {
    width: 9%;
}

.circle {
    width: 2%;
    height: 2%;
    border: 1px solid gray;
    border-radius: 15px;
    text-align: center;
    background: coral;

}

.line {
    width: 100%;
    height: 15%;
    background-color: gray;
}

.AdvancedSearch h1 {
    position: relative;
    font-size: 180%;
    font-weight: 500;
    padding: 4%;
    padding-left: 60px;
}

.boxPart {
    width: 50%;
    padding-left: 60px;

}

.boxPart h3 {
    font-size: 20px;
    font-weight: 500;

}

.FirstBox {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-top: 5%;
}

.FirstBox input,
.FirstBox .input {
    height: 44px;
    width: 360px;
    padding-left: 4%;
    outline-color: #0b57d0;
    font-size: 17px;
}

.FirstBox .input {
    padding: 10px;
}

.FirstBox input:hover {
    outline: none;
}

.FirstBox span {
    width: 139px;
    font-size: 15px;
}

.LastButton {
    border: none;
    padding: 1.3% 2%;
    color: white;
    background-color: #336ef3;
    border-radius: 25px;
    margin: 56px 400px;
    cursor: pointer;
}

.LastButton:hover {
    background-color: #1a55db;

}

.LastButton:active {
    background-color: #133ea1;

}